<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canoas Ubatuba - Cardápio Digital</title>
    <link rel="stylesheet" href="product.css">  

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
 <div class="produto">
    <img src="../../assets/images/camarao-paulista.png" alt="" s></img>
    <div class="prod-val">
        <h3 class="title-prod">Porção Camarão Paulista</h3> 
        <span class="valor">90,00</span>
    </div>
    <div class="quantidade">
        <button>+</button>
        <input type="text" placeholder="0">
        <button>-</button>
    </div>
 </div>

 
<script src="product.js"></script>
 <script src="../../assets/js/all.js"></script>

 
</body>
</html>