.cart {
    position: fixed;
    background: white;
    height: 100%;
    left: 0;
    width: 100%;
    top: 0;
    display: none;
    padding: 50px 0;
    z-index: 999;
    overflow: auto;
}
.content h2 {
    padding: 0px 35px;
    font-size: 2.3rem;
    width: 200px;
    color: black;
    margin: 10px 0px 15px;
    line-height: 1.1;
    
}
.content p {
    padding: 0px 35px;
    font-size: 1.1rem;
    width: 246px;
    color: rgb(101 101 101);
    margin: 10px 0px 15px;
    line-height: 1.1;
    font-style: italic !important;
}

 
.cart .content {
    margin: 32px 0 10px;
    padding: 0px 20px;
}
.cart .content h2 {
    padding: 0px;
    margin: 0px;
}
.cart p {
    color: #000000;
    padding: 0px;
    margin: 0px;
}
.showCart{ 
    display: block;
}
span.qtdIcon {
    position: absolute;
    background: #E5040E;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    top: 6px;
    border-radius: 20px;
    align-items: center;
    color: #ffff;
    margin: 0 51px;
    font-size: 14px;
    padding: 4px;
}


.total {
    position: fixed;
    bottom: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #f7f7f7;
    color: #03184E;
    /* color: #03184E; */
    flex-direction: column;
    padding: 25px 0;
    border: 0px;
    border-radius: 15px 15px 0px 0px;
    left:0;
    font-weight: bold;
    font-size: 1.3rem;
}
.total button {
    background: #03184E;
    color: white;
    /* border: 1px solid; */
    font-size: 1.0rem;
    border-radius: 20px;
    height: 55px;
    max-width: 370px;
    padding: 0 25px;
    margin: 10px auto;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Lexend Deca', sans-serif;
    width: 280px;
    
}
.cartProduct {
    display: flex;
    margin: 20px;
    padding: 20px 0;
}
.cartProduct{
    display: flex;
    margin: 0px;
}
.cartProduct div:first-child {
    margin: 0 10px;
}
 